# Database Configuration
DATABASE_URL="db_url"
# Supabase Configuration Example
# DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# Production/Development Environment
RUST_LOG=info

JWT_SECRET="verysecretverysecretverysecretverysecret"
